<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
	<security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		<add name="SignalR" path="/DatabaseChangesHub" verb="*" type="Microsoft.AspNetCore.SignalR" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\TruckTrack.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: db10da96-c90b-43bf-b19e-54fac3638cbb-->